* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.header {
  background: rgba(18, 11, 11, 0.51);
  padding: 30px 0 18px;
  z-index: 3;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: transform 0.3s linear;
}
.header__logo {
  max-width: 100%;
}
.header__navList {
  padding-left: 0;
  margin-bottom: 0;
  display: none;
}
@media (min-width: 768px) {
  .header__navList {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}
@media (min-width: 992px) {
  .header__navList {
    column-gap: 40px;
  }
}
@media (min-width: 1200px) {
  .header__navList {
    column-gap: 67px;
  }
}
.header__navList.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__link {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  align-self: center;
  transition: all 0.3s;
}
.header__link:hover {
  color: #000;
}
.header__btn {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  background-color: transparent;
  border: none;
  width: fit-content;
  align-self: center;
  transition: all 0.3s;
}
.header__btn-line {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.header__btn.active .header__btn-line:first-child {
  transform: rotate(45deg);
  top: 4px;
}
.header__btn.active .header__btn-line:nth-child(2) {
  background-color: transparent;
}
.header__btn.active .header__btn-line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 4px;
}

.header.hide {
  transform: translateY(-110px);
}
@media (min-width: 768px) {
  .header.hide {
    transform: translateY(-120px);
  }
}

.hero {
  background: url("../assets/imgs/heroBg.jpg") no-repeat;
  background-size: cover;
  padding: 254px 0 114px;
}
.hero__places {
  margin-top: 38px;
  color: #2b75b7;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.hero__places--title {
  color: #835555;
}

.main-title {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 992px) {
  .main-title {
    line-height: 110px;
    font-size: 90px;
  }
}

.subtitle {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  margin-top: 38px;
  font-weight: 500;
  line-height: 18px;
  /* 200% */
}
@media (min-width: 768px) {
  .subtitle {
    line-height: 36px;
  }
}

.tour-filter {
  border-radius: 72px;
  border: 1px solid #cbcaca;
  background: #fff;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}
.tour-filter__form {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.tour-filter__input {
  border: none;
  font-size: 12px;
  color: #9B9B9B;
  font-weight: 600;
}
@media (min-width: 992px) {
  .tour-filter__input {
    font-size: 18px;
    line-height: 36px;
  }
}
.tour-filter__submit {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  background-color: #000;
  line-height: 18px;
  border-radius: 28px;
  padding: 6px 12px;
  justify-self: center;
  margin-top: 20px;
  transition: color 0.3s;
}
.tour-filter__submit:hover {
  color: #cbcaca;
}
@media (min-width: 768px) {
  .tour-filter__submit {
    margin-top: 0;
    line-height: 36px;
    font-size: 18px;
    padding: 12px 24px;
  }
}

/*# sourceMappingURL=main.css.map */
