* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 16px;
}

h4 {
  margin-bottom: 12px;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-title {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .main-title {
    text-align: left;
    line-height: 110px;
    font-size: 5.625rem;
  }
}

.secondary-title {
  color: #000;
  text-align: center;
  font-size: 1.875rem;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .secondary-title {
    font-size: 3.75rem;
    line-height: 70px;
    margin-bottom: 38px;
  }
}

.secondary-title.secondary-title--light {
  color: #fff;
}

.subtitle {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .subtitle {
    line-height: 36px;
  }
}

.subtitle--dark {
  color: #000;
}

.header {
  background: rgba(18, 11, 11, 0.51);
  padding: 30px 0 18px;
  z-index: 3;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: transform 0.3s linear;
}
.header__logo {
  max-width: 100%;
}
.header__navList {
  padding-left: 0;
  margin-bottom: 0;
  display: none;
}
@media (min-width: 768px) {
  .header__navList {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 992px) {
  .header__navList {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (min-width: 1200px) {
  .header__navList {
    -moz-column-gap: 67px;
         column-gap: 67px;
  }
}
.header__navList.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__link {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  align-self: center;
  transition: all 0.3s;
}
.header__link:hover {
  color: #f55515;
}
.header__btn {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  background-color: transparent;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  transition: all 0.3s;
}
.header__btn-line {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.header__btn.active .header__btn-line:first-child {
  transform: rotate(45deg);
  top: 4px;
}
.header__btn.active .header__btn-line:nth-child(2) {
  background-color: transparent;
}
.header__btn.active .header__btn-line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 4px;
}

.header.hide {
  transform: translateY(-110px);
}
@media (min-width: 768px) {
  .header.hide {
    transform: translateY(-120px);
  }
}

.hero {
  background: url("../assets/imgs/heroBg.jpg") no-repeat;
  background-size: cover;
  padding: 200px 0 0;
  min-height: 100vh;
}

.tour-filter__form {
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  padding: 10px;
  row-gap: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
}
.tour-filter__input {
  font-size: 0.875rem;
  border-radius: 10px;
  color: #858585;
  font-weight: 600;
  padding: 10px;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .tour-filter__input {
    font-size: 1.125rem;
    line-height: 36px;
  }
}
.tour-filter__submit {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #000;
  line-height: 18px;
  border-radius: 28px;
  padding: 6px 12px;
  justify-self: center;
  margin-top: 20px;
  transition: color 0.3s;
}
.tour-filter__submit:hover {
  color: #f55515;
}
@media (min-width: 768px) {
  .tour-filter__submit {
    line-height: 36px;
    font-size: 1.125rem;
    padding: 12px 24px;
  }
}

.products {
  padding: 90px 0 194px;
}
.products__slider-nav {
  margin-bottom: 45px;
}
.products__slider-prev, .products__slider-next {
  padding: 4px 10px;
  font-size: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .products__slider-prev, .products__slider-next {
    padding: 8px 20px;
    font-size: 2.5rem;
  }
}
.products__slider-prev:hover, .products__slider-next:hover {
  transform: scale(0.95);
  background-color: #f55515;
}
.products__slider-prev:active, .products__slider-next:active {
  transform: scale(0.9);
}
.products__slide-text {
  display: none;
}
.products__slide {
  border: 1px solid #000;
  border-radius: 10px;
}
.products__slide.swiper-slide-active .products__slide-text {
  display: block;
  padding: 34px 14px 26px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
}
.products__slide.swiper-slide-active .products__slide-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}
.products__slide.swiper-slide-active .products__slide-descr {
  color: #858585;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}
.products__slide-link {
  background: #fff;
}
.products__slide-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 768px) {
  .products__slide-image {
    height: 362px;
  }
}

.about {
  background: url("../assets/imgs/aboutBg.jpg") no-repeat;
  background-size: cover;
  padding-top: 56px;
}

.about__cards {
  row-gap: 20px;
}
@media (min-width: 992px) {
  .about__cards {
    position: relative;
    bottom: -132px;
  }
}

.about__card {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 5% 25px;
}
@media (min-width: 992px) {
  .about__card {
    padding: 44px 2% 40px;
  }
}
@media (min-width: 1200px) {
  .about__card {
    padding: 44px 2% 70px;
  }
}
.about__card-icon {
  background: #000;
  border-radius: 10px;
  margin-bottom: 33px;
}
.about__card-icon i {
  font-size: 5.625rem;
}
.about__card-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}
.about__card-text {
  color: #858585;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 38px;
  line-height: normal;
}
.about__card-link {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  gap: 0.3125rem;
  text-decoration: none;
  transition: color 0.3s;
}
.about__card-link:hover {
  color: #f55515;
}

.partners {
  padding-top: 90px;
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .partners {
    padding-top: 186px;
    padding-bottom: 90px;
  }
}

.partners-list {
  margin-top: 40px;
  gap: 20px;
}
@media (min-width: 992px) {
  .partners-list {
    margin-top: 84px;
  }
}
.partners-list__link object {
  pointer-events: none;
}

.users-cards {
  margin-top: 90px;
  gap: 80px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .users-cards {
    margin-top: 190px;
    padding-bottom: 100px;
  }
}

.user-card {
  padding: 90px 52px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .user-card {
    padding-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .user-card {
    min-height: 450px;
  }
}
.user-card__avatar {
  border-radius: 50%;
  top: -65px;
  left: calc(50% - 65px);
}
.user-card__name {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.user-card__position {
  color: #858585;
  font-size: 1.125rem;
  font-weight: 500;
}
.user-card__rate {
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .user-card__rate {
    margin-top: 40px;
  }
}
.user-card__text {
  color: #858585;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .user-card__text {
    margin-top: 18px;
    font-size: 1.125rem;
  }
}

.hero__srilanka,
.hero__item {
  background: url("../pages/country/thiland/img_page/111.jpg") no-repeat;
  background-size: cover;
  padding: 200px 0 0;
  min-height: 100vh;
}

.hero__srilanka {
  background: url("../pages/country/srilanka/img_page/main.jpg") no-repeat;
  background-size: cover;
}

.country {
  font-size: 0.9rem;
}
.country__popular {
  padding: 5% 0;
}
.country__btn {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  --bs-btn-padding-x: 0.7rem;
  --bs-btn-padding-y: 0.175rem;
  --bs-border-radius: 20px;
}
.country__btn:hover {
  background-color: #000 !important;
  color: #f55515;
  border-color: #000;
}
.country__hotel {
  --bs-gutter-x: 0rem;
}
.country__hotel p {
  font-size: 0.9rem;
}
.country__card {
  font-size: 0.9rem;
  margin-bottom: 9%;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
  height: 430px;
}
@media (min-width: 576px) {
  .country__card {
    margin-bottom: 5%;
  }
}
.country__info--block {
  margin-bottom: 9%;
}
.card-body .country__btn {
  bottom: -10px;
  right: 10px;
}

.container__regist {
  background: url("../pages/country/thiland/img_page/banner-021.jpg") no-repeat;
  background-size: cover;
}
.container__regist .regist__info {
  margin: 5% 0;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 768px) {
  .container__regist .regist__info {
    margin: 5% 0;
  }
}
.container__regist .regist__info p {
  width: 82%;
  font-size: 0.7rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .container__regist .regist__info p {
    font-size: 1rem;
  }
}

.container__live {
  padding-right: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container__live--card {
  display: flex;
  margin-left: 2%;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
@media (min-width: 576px) {
  .container__live--card {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .container__live--card {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .container__live--card {
    width: 18%;
  }
}
.container__live--card .live__card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.container__live--card .live__card--md {
  display: none;
}
.container__live--card .live__card .live__picture {
  width: 100%;
}
.container__live--card .card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.footer {
  background: rgba(18, 11, 11, 0.51);
  padding: 3% 0 2%;
  z-index: 3;
  width: 100%;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .footer .row {
    justify-content: space-between;
  }
}
.footer__logo {
  max-width: 100%;
}
.footer__motto {
  max-width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.5rem;
  padding-left: 5%;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__nav {
    -moz-column-gap: 20px;
         column-gap: 20px;
    width: 100%;
    align-items: start;
    justify-content: end;
  }
}
@media (min-width: 992px) {
  .footer__nav {
    -moz-column-gap: 40px;
         column-gap: 40px;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .footer__nav {
    -moz-column-gap: 67px;
         column-gap: 67px;
  }
}
.footer__navlist {
  font-family: "Poppins", sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 600;
  flex-basis: 50%;
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__navlist {
    flex-basis: 25%;
  }
}
.footer__navlist:last-child {
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (min-width: 768px) {
  .footer__navlist:last-child {
    flex-basis: 25%;
  }
}
.footer__navlist .contant__inform {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}
.footer__navlist .contant__inform:hover {
  color: #f55515;
}
.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #f55515;
}
.footer__link i {
  font-size: 1.3rem;
}/*# sourceMappingURL=main.css.map */