@use "../../utils/variables" as *;
@use "../../utils/mixin" as *;

.about {
  background: url("../assets/imgs/aboutBg.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 56px;
}

.about__cards{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  @include media-bp-up(lg){
    flex-direction: row;
    column-gap: 88px;
    justify-content: center;
    position: relative;
    bottom: -132px;
  }
}

.about__card {
  border-radius: 10px;
  background: $light;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.15);
  padding: 44px 7% 70px;
  @include media-bp-up(lg){
    width: 30%;
    padding: 44px 2% 70px;
  }
  @include media-bp-up(xl){
      width: 25%;
      padding: 44px 2% 70px;
    }

  &-icon {
    background: $dark;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 33px;
    i {
      font-size: 5.625rem;
    }
  }

  &-title {
    color: $textDark;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
  }

  &-text {
    color: $textSecondary;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 38px;
    line-height: normal;
  }

  &-link {
    color: $textDark;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $textAccent;
    }
  }
}