@use '../../utils/mixins' as *;

.partners {
  padding-top: 90px;
  padding-bottom: 60px;
  @include media-bp-up(lg) {
    padding-top: 186px;
    padding-bottom: 90px;
  }
}

.partners-list {
  margin-top: 40px;
  gap: 20px;
  @include media-bp-up(lg) {
    margin-top: 84px;
  }

  &__link {
    object {
      pointer-events: none;
    }
  }
}